.img1 {
    width: 100%;
}

.landing-page {
    background-color: #ffffff;

}

.lp-part1 {
    padding: 60px 0 0 0;
    /* padding-bottom: 0; */
}

.lp-img1 .lp-img2 {
    width: 100%;
}

.lp-part2 {
    /* align-items: center; */
    text-align: center;
}

.lp-part3 {
    text-align: center;
    padding: 60px;
}

.lp-part4 {
    text-align: center;
    padding: 60px;
    padding-top: 0;
}

.lp-part5 {
    padding: 30px 0;

}

.lp-img5 {
    width: 100%;
}

.lp-part6 {
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
}

.lp-part7 {
    text-align: center;
    padding: 60px;
    margin-bottom: 60px;
}




/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    height: auto;
    width: auto;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

.d199 {
    width: 80%;
}

.d244 {
    width: 100%;
}









/* Next & previous buttons */
/* .prev{
    cursor: pointer;
    position: absolute;
    top: 40%;

    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;

    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
} */

/* Position the "next button" to the right */

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(227, 227, 227, 0.8);
}



@media screen and (max-width: 464px) {


    .m-ind1 {
        width: 100%;
        margin-top: 2%;
    }

    .m-ind7 {
        width: 100%;
    }

    /* .m-ind8 {
        position: relative;
    } */

    .container {
        position: relative;
    }

    .prev {
        cursor: pointer;
        position: absolute;
        top: 25%;
        left: 3%;
        /* width: auto; */
        padding: 16px;
        /* margin-top: -50px; */
        color: rgb(102 102 102);
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .next {
        cursor: pointer;
        position: absolute;
        top: 25%;
        /* width: auto; */
        padding: 16px;
        right: 3%;
        /* margin-top: -50px; */
        color: rgb(102 102 102);
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .mySlides img {
        width: auto;
        width: 100%;
        margin: 0 0 -13% 0;
    }

    .m245 {
        width: 90vw;
    }

    .m287 {
        margin: -0% 0 0 0;
    }

    .m199 {
        width: 100%;
    }








    .m-indn1 {
        background-color: #EED38E;
    }

    .m-indn2 {
        width: 45%;
    }

    .m-indn3 {
        width: 35%;
    }


}