.h1s1 {
    padding: 4% 0 0 0;
}

.h1 {
    width: 100%;
}

.h2a {
    margin: 0 0 0 14%;
}

.h2b {
    margin: 5% 0 0 0;
}

.t3s1 {
    margin: 0 0 0 0;
}

@media screen and (max-width: 464px) {

    .mh1s1 {
        padding: 2.5% 0 0 0;
    }

    .mh1 {
        width: 100%;
    }

    .mh1s2 {
        padding: 0 5% 0 5%;
    }
}