.feat1 {
    padding: 6% 0 0 0;
    text-align: center;
    height: 215px;
}

.text1 {
    font-size: 35px;
    color: #1e2a39;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 58px;
    font-family: roboto;
}

.text2 {
    font-family: "roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #5c6272;
}

.text3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    left: 384px;
    top: 190px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 0;
}

.t31 {
    color: #fe0000;
    text-decoration: underline;
}

.t32 {
    text-decoration: underline;
}

.t33 {
    text-decoration: underline;
}

.btn-1 {
    align-items: center;
    color: white;
    text-align: center;
    width: 149px;
    background: #fe0000;
    border-radius: 12px;
    border: none;
    padding: 8px 23px;
    font-size: 14px;
    line-height: 30px;
    margin-top: 8px;
    box-shadow: inset 0 0 0 0 white;
}

.btn-1:hover {
    border: #5c6272 solid 2px;
    transition: 1.5s;
    box-shadow: inset 200px 0 0px 0px white;
    color: black;
    cursor: pointer;
}

.ts {
    margin-right: 10px;
    cursor: pointer;
}

.ts :hover {
    color: #fe0000;
}

.gif1 {
    position: relative;
    transform: rotate(45deg);
    top: -315px;
    right: -331px;
    width: 100px;
}

.gif2 {
    position: relative;
    transform: rotate(62deg);
    right: -331px;
    top: -276px;
    right: 108px;
    width: 140px;

}

.cont1 {
    align-items: center;
    height: 377px;
}

.cont2 {
    align-items: center;
    height: 295px;
}

.cont3 {
    align-items: center;
    height: 377px;
}

.img11 {
    height: 162.37px;
}

.img12 {
    height: 102.37px;
}



.img1 {
    padding-top: 6%;
}

body,
html {
    scroll-behavior: smooth;
}

.foot {
    padding-top: 92px;
    margin-bottom: -109px;
    margin-top: -52px;
}


@media screen and (max-width: 464px) {

    .feat1 {
        width: 100%;
    }

    .text1 {
        font-size: 35px;
        color: #1e2a39;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
        font-family: roboto;
    }

    .text2 {
        font-family: "roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #5c6272;
    }

    .text3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        left: 384px;
        top: 190px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        padding: 10px 0;
    }

    .btn-1 {
        align-items: center;
        color: white;
        text-align: center;
        width: 142px;
        background: #fe0000;
        border-radius: 12px;
        border: none;
        padding: 8px 23px;
        font-size: 14px;
        line-height: 23px;
        margin-top: 8px;
        box-shadow: inset 0 0 0 0 white;
    }

    .msh2 {
        width: 70vw;
    }

    .keyd {
        position: relative;
    }

    .fkeys {
        width: 70vw;
        /* position: relative; */
    }

    .mkeys1 {
        position: absolute;
        top: 38%;
        left: 60%;
    }

    .msh5 {
        width: 100%;
    }

    .mplay {
        width: 70vw;
    }

    .kwifi {
        position: relative;
    }

    .ewifi {
        width: 70vw;
        z-index: 2;
    }

    .mwifi {
        position: absolute;
        top: -15%;
        left: 12%;
        z-index: 0;
    }

    .miwifi {
        height: 72px;
        width: 102px;
        transform: rotate(-42deg);
    }

    .kloc {
        position: relative;
    }

    .eloc {
        width: 70vw;
        /* z-index: 2; */
    }

    .mloc {
        position: absolute;
        top: -4%;
        left: 45%;
        /* z-index: 0; */
    }

    .miloc {
        height: 62px;
        width: 65px;
        transform: rotate(0deg);
    }

    .container {
        position: relative;
    }

    .prev {
        cursor: pointer;
        position: absolute;
        top: 25%;
        left: 3%;
        /* width: auto; */
        padding: 16px;
        /* margin-top: -50px; */
        color: rgb(102 102 102);
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .next {
        cursor: pointer;
        position: absolute;
        top: 25%;
        /* width: auto; */
        padding: 16px;
        right: 3%;
        /* margin-top: -50px; */
        color: rgb(102 102 102);
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .mySlides img {
        /* width: auto; */
        width: 100%;
        margin: 0% 0 -13% 0;
    }

    .mimg11 {
        height: 100px;
        width: 62px;
    }

    .mcont1 {
        position: relative;
    }

    .mimg12 {
        height: 64px;
        width: 85px;
    }

    .mgif1 {
        position: absolute;
        top: 115px;
        right: 20px;
    }

    .mgif2 {
        position: absolute;
        top: 278px;
        left: 145px;
        transform: rotate(45deg);
    }











}