.shop1 {
    display: flex;
    flex-wrap: wrap;
    padding: 8% 12% 0 13%;
}

.s1-col1 {
    width: 10%;
    padding: 7% 0 0 0;
}

.s1-col2 {
    width: 44%;
    padding: 5% 0 0 0;

}

.s1-col3 {
    width: 41%;
    border: solid #959595 2.5px;
    padding: 2%;
    border-radius: 20px;

}

.s1,
.s2,
.s3 {
    width: auto;
    margin: 0 0 -4.5% 0;
}

.s4 {
    width: 20rem;
}

.s1-row2 {
    display: flex;
    flex-wrap: wrap;
}

.sr2-1 {
    width: 20%;
    padding: 2% 0 0 0%;
    margin: 0 0 0 -2%;
}

.sr2-2 {
    width: 40%;
}

.sr2-3 {
    width: 40%;
}

.s5 {
    border: solid 2.3px grey;
    padding: 0.5rem;
    border-radius: 8px;
    width: 56%;
}

.s6 {
    /* border: solid 2.3px grey; */
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    width: 35%;
}

.s7 {
    /* border: solid 2.3px grey; */
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
    width: 62%;
}

.sp-part1 {
    padding: 70px 0;
}

.sp-img1 {
    width: 100%;
}

.div1 {
    margin: -0% 0 0 -0%;
}

.div2 {
    margin: -0% 0 0 -0%;
}

.div3 {
    margin: -0% 0 0 -0%;
}

/* .sp-part2-container {
    padding: 150px;
}
.sp-part2 {
    background-image: url(/images/Group\ 289.png);
    background-size: cover;
    height: 200vh;
    width: 100vw;
} */
.sp-part2,
.sp-part5 {

    text-align: center;
}

.sp-img2 {
    position: relative;

}

.sp-p2-g1 {
    transform: rotate(45deg);
    height: 94px;
    width: 125px;
    position: absolute;
    top: 1080px;
    left: 350px;
}

.sp-p2-g2 {
    position: absolute;
    height: 162px;
    width: 92px;
    transform: rotate(62deg);
    top: 830px;
    left: 960px;

}

.sp-part3 {
    text-align: center;
    padding: 0px;
}

.c-ques {
    width: 60%;
    margin: 5% 0 0 0;
}

.que-head {
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin: 0 0 5% 0;
}

.hr-line {
    color: grey;
    margin: 1.2rem 0 0.2rem 0px;
}

.accordion:after {
    content: url(../images/down.png);
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
    margin: -1.5rem 5px 0rem 0;
}

.accordion {
    background-color: #fff;
    color: rgb(31, 31, 31);
    cursor: pointer;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: rgb(255, 255, 255);
}

.accordion:after {
    content: url(../images/down.png);
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
    margin: -1.5rem 5px 0rem 0;
}

.active:after {
    content: url(../images/up.png);
}



.ques-row {
    padding: 2.3% 0 2% 0;
    margin: 0 0 1% 0;
}

.ques-txt {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #55565A;
    /* text-align: left; */
    float: left;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
    color: grey;
    width: 90%;
    margin-left: -7%;
    font-size: 17px;
}

.simple {
    color: #55565a;
    font-weight: 600;
}

.sp-part4 {
    text-align: center;
    padding: 50px;
}

.sp-part5 {
    padding-bottom: 100px;
}





.gif1 {
    position: relative;
    transform: rotate(45deg);
    top: -315px;
    right: -331px;
    width: 100px;
}

.gif2 {
    position: relative;
    transform: rotate(62deg);
    right: -331px;
    top: -276px;
    right: 108px;
    width: 140px;

}

.cont1 {
    align-items: center;
    height: 377px;
}

.cont2 {
    align-items: center;
    height: 295px;
}

.cont3 {
    align-items: center;
    height: 377px;
}

.img11 {
    height: 162.37px;
}

.img12 {
    height: 102.37px;
}



.img1 {
    padding-top: 6%;
}

.s14 {
    width: auto;
    margin: 0 0 6% 0;

}

.mobile-view2 {
    display: none;
}






@media screen and (max-width: 464px) {


    .mobile-view2 {
        display: block;
    }




    .shop1 {
        display: flex;
        flex-wrap: wrap;
        padding: 18% 7% 0 7%;
    }

    .s1-col1 {
        width: 34%;
        padding: 9% 0 0 0;
    }

    .s1-col2 {
        width: 48%;
        padding: 5% 0 010%;

    }

    .s1-col3 {
        width: 100%;
        border: solid #959595 2.5px;
        padding: 6%;
        border-radius: 20px;
        margin: 5% 0 0 0;
    }

    .s4 {
        width: 200px;
        height: 200px;
    }

    .s1,
    .s2,
    .s3 {
        width: 60px;
        margin: -4% 0 0 0;
    }

    .s14 {
        width: 100%;
        margin: 0 0 3% 0;
    }

    .s1-row2 {
        display: flex;
        flex-wrap: wrap;
    }

    .sr2-1 {
        width: 27%;
        padding: 0% 0 0 0%;
        margin: 0 0 0 -2%;
    }

    .sr2-2 {
        width: 33%;
    }

    .sr2-3 {
        width: 40%;
    }

    .s5 {
        border: solid 2.3px grey;
        padding: 3px;
        border-radius: 8px;
        height: 4rem;
        width: auto;

    }

    .s6 {
        /* border: solid 2.3px grey; */
        border: none;
        padding: 3px 5px 3px 5px;
        border-radius: 8px;
        width: auto;
        height: 4rem;

    }

    .s7 {
        /* border: solid 2.3px grey; */
        border: none;
        padding: 3px 4px 3px 4px;
        border-radius: 8px;
        width: 100%;
        height: 4rem;

    }

    .msh1 {
        width: 100%;
    }



    .c-ques {
        width: 90%;
        margin: 5% 0 0 0;
    }

    .que-head {
        font-weight: 400;
        font-size: 28px;
        line-height: 44px;
        text-align: center;
        /* color: #000000; */
        margin: 0 0 3% 0;
    }

    .ques-row {
        padding: 1% 0 0% 0;
        margin: 0 0 2.5% 0;
    }

    .ques-txt {
        font-weight: 400;
        font-size: 13px;
        line-height: 25px;
        color: #55565A;
        text-align: left;
        float: left;
    }

    .ques-txt {
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        color: #55565A;
        text-align: left;
        float: left;
        width: 80%;
    }


    .accordion:after {
        content: url(../images/down.png);
        color: rgb(255, 255, 255);
        font-weight: bold;
        float: right;
        margin: -4px 5px 0rem 0;
    }

    .active:after {
        content: url(../images/up.png);
    }

    .ques-row {
        padding: 0% 0 0% 0;
        margin: 14px 0 0 0;
    }

    .hr-line {
        color: grey;
        margin: 0.9rem 0 0.2rem 0px;
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        text-align: left;
        color: grey;
        width: 90%;
        margin-left: -7%;
        font-size: 13px;
    }

    .m-ind7 {
        width: 100%;
    }

    /* .m-ind8 {
        position: relative;
    } */

    .container {
        position: relative;
    }

    .prev {
        cursor: pointer;
        position: absolute;
        top: 25%;
        left: 3%;
        /* width: auto; */
        padding: 16px;
        /* margin-top: -50px; */
        color: rgb(102 102 102);
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .next {
        cursor: pointer;
        position: absolute;
        top: 25%;
        /* width: auto; */
        padding: 16px;
        right: 3%;
        /* margin-top: -50px; */
        color: rgb(102 102 102);
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .mySlides img {
        width: auto;
        width: 100%;
        margin: 0 0 -13% 0;
    }


    .mimg11 {
        height: 100px;
        width: 62px;
    }

    .mcont1 {
        position: relative;
    }

    .mimg12 {
        height: 64px;
        width: 85px;
    }

    .mgif1 {
        position: absolute;
        top: 115px;
        right: 20px;
    }

    .mgif2 {
        position: absolute;
        top: 278px;
        left: 145px;
        transform: rotate(45deg);
    }

    .div1 {
        margin: -0% 0 0 -1%;
    }

    .div2 {
        margin: -0% 0 0 -1%;
    }

    .div3 {
        margin: -0% 0 0 -1%;
    }

    .msp2 {
        width: 70vw;
    }




}


@media screen and (max-width: 350px) {

    .accordion:after {
        content: url(../images/down.png);
        color: rgb(255, 255, 255);
        font-weight: bold;
        float: right;
        margin: -10px 5px 0rem 0;
    }

}